
html{
	font-size: 62.5%;
}
body{
	margin: 0;
	font-size: 1.5rem;
}

/* loder-area  */
.accordion-area{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background:transparent;
    z-index: 999999999999999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-x: hidden;
	transition: 1s;
	z-index: 0;
	visibility: hidden;
	
}
.accordion-area.slide-hide{
	z-index: 99999;
	background: rgba(0,  0, 0, .5);
	display: flex;
	visibility: visible;
    flex-direction: column;
    align-items: flex-end;
}
.accordion-contain {
    background: white;
    height: 100vh;
    width: 43rem;
    position: absolute;
    top: 0;
    right: -100%;
	visibility: hidden;
	transition: 1s;
}
.accordion-contain.slide-menu {
    visibility:visible;
	right: 0;
}
.menu-click {
	display: none;
	font-size: 3rem;
	color: #23996E;
}
.accordion-box.active{
	background: white;
}
.accordion-box:first-child .acc-trigger{ 
	padding-top: 2rem;
} 
.acc-trigger {
	background: white;
	display: block;
	color: #23996E;
	position: relative;
	padding: 4rem 4rem 1rem 3rem;
	font-size: 2rem;
	text-transform: capitalize;
	transform: .3s;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.acc-trigger:hover{
	color: #D83232;
}
.acc-trigger:focus{
	color: #D83232;
}
.acc-trigger:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 90%;
	height: .1rem;
	background:rgba(0,  0, 0, .1);
}
.last-border:after{
	background: none;
}
ul.acc-container {
    padding: 1rem 4rem 2rem 3rem;
}
ul.acc-container li a {
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: .1rem 0rem;
    border-bottom: .1rem  solid rgba(0, 0, 0, .1);
    display: block;
    margin-bottom: 2rem;
}
a.hidden {
    padding: .6rem 2rem;
    background: #23996E;
    font-size: 2.3rem;
    color: white;
    border-radius: 0.5rem;
    margin: 2rem 2rem;
}

.acc-container{
	display: none;
}

.loder {
	height: 100vh;
	background: #252525;
	position: relative;
}

.preloder {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
}

/* end-loder */
/* default-css */
h1,h2,h3,h4,h5,p,ul{
	margin: 0;
}
ul{
	list-style:none;
	padding: 0;
}
img{
	display: block;
}
a, span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
}
.header-btn a {
    padding: 1.7rem 4.2rem;
    background: #23996E;
    color: white;
    text-transform: capitalize;
    border-radius: .7rem;
    font-size: 1.7rem;
}
.header-btn i{
	margin-left: 1rem;
}
.common-p{
	padding:50px 0;
}
/* end-defalu-css */
/* header-css */
.main-header-area{
	background:url(../images/bg.webp) no-repeat scroll center center / 100% 100%;
	background-color: #F5F6F2;
	padding: 0rem 0rem 6rem 0rem;
	position: relative;
}
.heading-search {
	display: flex;
	align-items: center;
	padding: 2rem 10rem 2rem 16rem;
	background: white;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.46);
}
.heading-search input {
	width: 100%;
	padding: 1.5rem 2rem;
	background: #E7E7E7;
	border: none;
	border-radius: .7rem;
}
.heading-search input:focus{
    outline: 0;
}
button.search-btn {
    border: none;
    padding: 0rem 2rem;
    font-size: 3rem;
	background: none;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: white;
    padding: 3rem 3rem;
    margin: 0rem 12rem;
    border-radius: 1rem;
}
.logo a{
	display: block;
}
.logo a img {
	width: 18%;
}
nav.menu {
    width: 49rem;
}

.menu ul{
	display: flex;
	justify-content: space-around;
}
.menu ul li{
	position: relative;
}
.menu ul li a{
	font-size: 1.6rem;
	text-transform: capitalize;
	color: #040404;
	transition: .3s;
}

.menu ul li:hover > a, .menu ul li a.active{
	color: #23996E;

}
.menu ul li a span{
	font-size: 1.5rem;
	color: #040404;
	margin-left: .5rem;
	transition: .3s;
}
.menu ul li a.active span{
	color: #23996E;
}
.menu ul li:hover a span{
	transform: rotate(180deg);
	color: #23996E;
}
.menu ul ul{
	position: absolute;
	flex-direction: column;
	top: 100px;
	left:-4rem;
	padding: 0rem 2rem;
	transition: .3s;
	background:white;
	width: 25rem;
	border-top: 2px solid transparent;
	visibility: hidden;
	z-index: 99999;
	cursor: pointer;
}
.menu ul ul li{
    border-bottom: 1px solid rgb(242, 242, 242)	
}
.menu ul ul li:last-child{
	border: none;
}
.menu ul  > li:hover ul{
	top: 4rem;
	visibility: visible;
	border-top: 2px solid #23996E;
	box-shadow: 9px 9px 22px -1px rgba(0, 0, 0, 0.12);
}
.menu ul ul li a{
	display:inline-block;
	padding: 1rem 0rem;
	color: #040404;
	position: relative;
}
.menu ul ul li a:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -1.5rem;
	width: 0rem;
	height: .1rem;
	background: #23996E;
	transform: translateY(-50%);

}
.menu ul ul li:hover a:after{
	width: 1rem;
}
.menu ul ul > li:hover > a{
	margin-left: 1.5rem;
}
.menu ul ul.sub-menu ul{
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: none;
	border-top: none;
}
.menu ul ul.sub-menu {
    flex-direction: row;
    width: 80rem;
	height: 20rem;
    left: -30rem;
    border-top: none;
}

.menu ul li:hover ul.sub-menu{
	border-top: none;
	border-top: .2rem solid #23996E;
	box-shadow: 9px 9px 22px -1px rgba(0, 0, 0, 0.12);
}
.menu ul ul.sub-menu li{
	width: 100%;
}
.header-search{
	display: flex;
    justify-content: flex-end;
}
.search {
    margin-right: 2rem;
    font-size: 1.8rem;
}
.search a{
	color:#040404;
}
.top-search a {
    margin-right: 1rem;
}
.search-after{
	position: relative;
}
.search-after1{
	position: relative;
}
.search-after1:after{
    content: "0";
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    width: 1.7rem;
    height: 1.7rem;
    background: #23996E;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 1.2rem;
}
.search-after:after{
    content: "3";
    position: absolute;
    top: -1.5rem;
    left: 2rem;
    width: 1.7rem;
    height: 1.7rem;
    background: #23996E;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 1.2rem;
}

.banner-area{
	display: flex;
	padding-top: 12rem;

}
.banner-area .banner-content{ 
	flex-basis: 38%;
	padding-left: 10rem;
}
.banner-content h1{
	font-size: 6rem;
	font-family: 'Jost', sans-serif;
	font-weight: 800;
	text-transform: capitalize;
}
.banner-content p {
    color: #777777;
    line-height: 24px;
    font-size: 1.6rem;
    padding-bottom: 3rem;
}
.banner-area .banner-img{
	flex-basis: 62%;
}
.btn-next, .btn-prev {
    width: 7rem;
    height: 7rem;
    background: white;
    border-radius: 100%;
    margin-right: 3rem;
    font-size: 3rem;
    color: #23996E;
}
.banner-container .btn-next:after, .swiper-button-prev:after,
.rts-wooden .btn-next:after, .swiper-button-prev:after{
    display: none;
}
.rts-collection{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}
.rts{
	position: relative;
	background:#F6F6F6;
	margin:0 1.2rem;
	overflow: hidden;
}
.picture{
	position: relative;
	overflow: hidden;
	transition: .3s ease-in-out;
}

.rts:hover .picture{
     transform: scale(1.1);
}
.rts-content {
    position: absolute;
    left: 19rem;
    top: 11rem;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}
.rts-content p{
	font-size: 1.2rem;
}
.rts-content h3{
	font-size: 3rem;
	font-weight: 800;
}
.rts-btn {
    border-radius: .6rem;
    padding: 1.3rem 3rem;
    background: white;
    margin: 3rem 1rem;
    width: 15rem;
    box-sizing: border-box;
	transition: .3s ease-in-out;
}
.rts-btn a {
	color: #040404;
	transition: .3s ease-in-out;


}
.rts-btn:hover{
	background: #D83232;
	
}
.rts-btn:hover a{
	color: #EFEFEF;
}
.rts:nth-child(3) .picture{
	margin-top: 2.5rem;
}

/* product-area */
.product-heading {
    text-align: center;
    padding-bottom: 4rem;
}
.product-heading h4{
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	color: #23996E;
}
.product-heading h2 {
    font-size: 4rem;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
}
.pr-menu{
	display: flex;
	justify-content: center;
}
.pr-menu ul{
	display: flex;
}
.pr-menu ul li {
    margin-right: 4rem;
    color: #999999;
    font-size: 1.4rem;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-bottom: .2rem solid transparent;
    margin-bottom: 3rem;
	transition: .3rem ease-in-out;
}
.pr-menu ul li:hover{
	border-bottom: .2rem solid #040404;
	color: #040404;
}

.product{
	overflow: hidden;
	width: calc(100% - 20px / 5);
	margin-bottom: 7rem;
	position: relative;
}
.product a.default-chiar {
    position: relative;
    width: 100%;
	overflow: hidden;
}
.product img {
    width: 100%;
}
.defaul-chiar{
	position: relative;
}
 .product .default-chiar:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/1_2.jpg) no-repeat scroll center center / 100% 100%;
	opacity: 0;
	transition: .3s ease-in-out;
}
.product-clock .default-chiar:after{
	background: url(../images/4_1.jpg) no-repeat scroll center center / 100% 100%;
}
.product-basket .default-chiar:after{
	background: url(../images/5_1.jpg) no-repeat scroll center center / 100% 100%;
}
.product-tools .default-chiar:after{
	background: url(../images/6_1.jpg) no-repeat scroll center center / 100% 100%;
}
.product-tree .default-chiar:after{
	background: url(../images/7_1.jpg) no-repeat scroll center center / 100% 100%;
}
.product-chiar .default-chiar:after{
	background: url(../images/8_1.jpg) no-repeat scroll center center / 100% 100%;
}
.product:hover .default-chiar:after{
	opacity: 1;
	transform: scale(1.1);
}



.product P{
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
.cost{
	overflow: hidden;
	height: 2rem;
	position: relative;
	margin-top: .5rem;


}
.cost h4{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1.6rem;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	transition: .3s ease-in-out;
}
.cost h3{
	position: absolute;
	left: 0;
	bottom: -100%;
	font-size: 1.6rem;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	transition: .3s ease-in-out;
}
.product:hover .cost h3{
	bottom: 0;
}
.cost h3 span{
	font-size: 1.6rem;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	color: #040404;
	margin-left: .5rem;
}
.cost h3 i{
	color: #D83232;
}
.cost h4 span{
	font-size: 1.6rem;
	font-family: 'Jost', sans-serif;
    font-weight: 700;
	text-decoration: line-through;
	text-decoration-color: #777777;
	color: #777777;
	margin-left: .5rem;
}
.product:hover .cost h4{
	top: -100%;
}
.new-parsent{
	position:absolute;
	top: 0;
	left: 0;
}
.product-icon{
	position: absolute;
	top: 0;
	right: -7rem;
	opacity: 0;
	transition: .3s ease-in-out;
	z-index: 9999999;
}
.product:hover .product-icon{
	right: 0;
	opacity: 1;
}
.product-icon a{
	padding: 1.2rem;
	display: block;
	background-color: white;
	color: #040404;
	margin: 1.2rem 2rem;
	border-radius: .7rem;
}
.new {
    width: 5rem;
    height: 5rem;
    background: #23996E;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
}
.parsent{
	margin-top: -1rem;
	background:#D83232;
}
.btn-wood{
	visibility: hidden;
	transition: .3s ease-in-out;
}
.rts-wooden:hover .btn-wood{
	visibility: visible;
}
.rating{
	margin-top: 1.5rem;
}
.small-chiar {
    position: absolute;
    bottom: 7rem;
    left: 4rem;
    width: 27%;
   display: flex;
}
.black-product {
    position: relative;
    top: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
	transition: .3s ease-in-out;
}
.product:hover .black-product{
	top: -2rem;
}
.small-chiar {
    position: absolute;
    bottom: 6rem;
    left: 8rem;
    width: 47%;
    display: flex;
	opacity: 0;
	transition: .3s ease-in-out;
}
.product:hover .small-chiar{
	bottom:8rem;
	opacity: 1;
}
.card-chiar {
    bottom: 6rem;
    left: 6rem;
    width: 54%;
}
.left-chiar{
	margin-right: 3rem;
}
.product:hover .card-chiar {
    bottom: 10rem;
}
.isotop-btn .rts-btn {
    border: .2rem solid #EFEFEF;
	margin: 0 auto;
	transition: .3s ease-in-out;
}
.isotop-btn .rts-btn:hover{
	background: #23996E;
	color: #EFEFEF;
	border: .2rem solid #23996E;
}



/* end-rts-area */
/* star-newsletter-area */



.newsletter-area{
	background:url(../images/img.webp) no-repeat scroll  0 0/ cover;
}
.news {
    text-align: left;
    padding: 5rem 2rem 5rem 2rem;
}
.news p {
	padding: 3rem 0rem;
	width: 43%;
	line-height: 3rem;
	color: #040404;
	font-size: 1.6rem;
	opacity: 0.6;
}
.news-email{
	display: flex;
	height: 5.3rem;
	border-radius: .7rem;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
}
.news-email input {
    border: none;
   width: 35%;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0rem 1.5rem;
}

.news-email input:focus{
	outline: none;
}
.news-email button {
    border: none;
    height: 100%;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: 0.7rem;
    padding: 0rem 2.5rem;
	background:#23996E;
	color: #EFEFEF;

}
.news-email button span{
	padding-right: 1rem;
}

/* end-newsletter-area */
/* user-area-start */

.user-area{
	background:#fafafa;
	padding: 10rem 0;
}
.users{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap row;
}
.user {
    flex-basis: calc(94%/5);
    height: 10rem;
    border: .1rem solid #E7E7E7;
    margin: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}
.user:nth-child(1), 
.user:nth-child(5){
	margin: 0;
  }
  .user img {
    opacity: .6;
	transition: .3s ease-in-out;
}
.user:hover img{
	opacity: 1;
}
/* end-user-area */
/* start-shops-area */
.shop-area {
    padding: 11rem 0rem;
}
.shops{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.shop{
	border: .1rem solid gray;
	border-radius: .7rem;
	transition: .3s ease-in-out;
	background:#E7E7E7
}
.shop-img {
	height: 24rem;
	overflow: hidden;
	border-top-right-radius: .7rem;
	border-top-left-radius: .7rem;
}
.shop .shop-img img{
	width: 100%;
	transition: .3s ease-in-out;
}
.shop:hover .shop-img img{
	transform: scale(1.2);
	
}
.shop:nth-child(2){
	margin: 0 10%;
	position: relative;
}
.shop:nth-child(2):after{
	position: absolute;
	content: "";
	width: .2rem;
	height: 85%;
	top: 0;
	bottom: 0;
	left: -7rem;
	margin: auto;
	background: #777777;
	transition: .3s;
}
.shop:nth-child(2):before{
	position: absolute;
	content: "";
	width: .2rem;
	height: 85%;
	top: 0;
	bottom: 0;
	right: -7rem;
	margin: auto;
	background: #777777;
	transition: .3s;
}

.shop-content{
	position: relative;
}
.date {
    position: absolute;
    right: 2rem;
    top: -5rem;
    z-index: 999;
    padding: 1rem 2rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-top-right-radius: .7rem;
    border-top-left-radius: .7rem;
}
.date h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 3.5rem;
	font-weight: 800;
}
.shop-content{
	padding:2rem;
}
.shop-content h4 a{
	color: #23996E;
	line-height: 3rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.shop-content h3 a{
	font-size: 2.5rem;
	padding-bottom: 2rem;
	color: #040404;
	text-decoration: underline;
	text-decoration-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.shop-content h3:hover a{
	color: #23996E;
	text-decoration-color: #23996E;
}
.author{
	display: flex;
}
.author h3 span{
	display: block;
	font-size: 1.5rem;

}
.author h3{
	margin-left: 1.5rem;
	line-height: 2.2rem;	
}
/* end-shop-area */
/* start-footer-area */
.footer-area{
	background: #040404;
	padding: 8rem 1rem 0rem 0rem;
}
.hero {
    background: #E7E7E7;
    display: flex;
	justify-content: space-around;
    margin: 0rem 4rem;
    border-radius: .7rem;
	padding: 2.1rem 0;
}
.hero-icon{
	position: relative;
}
.hero-icon:after {
    content: "";
    position: absolute;
    left: -3rem;
    top: 0;
    width: .1rem;
    height: 100%;
    background: #777777;
}
.hero-icon:first-child:after{
	width: 0;
	height: 0;
}
.others {
    display: flex;
    padding: 7rem 0rem;
}
.footer-menu {
    flex-basis: 17.3%;
}
.footer-menu:last-child{
flex-basis: 30%;
}
.footer-logo.footer-menu {
    flex-basis: 35%;
}
.footer-logo a img {
	width: 25%;
}
.footer-logo p {
    color: #777777;
    width: 86%;
    padding: 3rem 0rem;
}
.footer-menu h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 3rem;
}
.footer-imges {
    display: flex;
    flex-wrap: wrap;
}
.footer-imges img {
    flex-basis: calc(68%/3);
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.comment {
    display: flex;
    align-items: center;
}
.comment-content {
    margin-left: 2rem;
}
.comment-content h3 {
    font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	color: #777777;
	margin: 0;
}
.comment-content h4 a{
	color: #83B735;
	line-height: 3rem;
}
.footer-menu ul li a {
    color: #777777;
    font-size: 1.4rem;
    margin: 1rem 0rem;
	transition: .4s;
}
.footer-menu ul li:hover a{
	color: #83B735;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.footer-menu ul li a i{
	color: #83B735;
	margin-right: 1rem;
}
.footer-coppy{
	display: flex;
	justify-content: space-between;
	padding-bottom: 2rem;
}
.coppy p{
	color: #777777;
	font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.coppy span{
	color:#E7E7E7;
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.coppy p a{
	color: #E7E7E7;
	font-weight: 700;
}

.responsive-menu h3 {
    color: black;
    background: white;
    border: none;
    border-bottom: 2px solid gray;
}
.product-group {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}